/* ============================================================
HEADER MENU 1
============================================================ */
header{
  background-color: #ff8c00;
  color: white;
  font-size: 16px;
  height: 50px;
  padding-top: 8px;
  padding-left: 5%;
  padding-right: 5%;
}
.head {
  margin-left: 5px;
}
.head a {
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  font-size: 17px;
}
.reseau a {
  color: white;
  font-size: 16px !important;
  text-align: center;
  height: 28px;
  width:26px;
  clip-path:ellipse(60% 60%);
  margin-right: 5px;
  margin-top: 4%;
  padding: 0.20em;
  position: relative;
  left: 2px;
  bottom: 4px;
  z-index: 1;
  background-color: #4CAF50;
}
.nav-item {
  padding-left: 3%;
}
/* ============================================================
SECTION SLIDER
============================================================ */
#url {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 400px;
  background-image: url(../images/home.png);
}
.back{
  max-width: 200% !important;
}
.legend{
  font-family: Times New Roman;
  font-size: 50px;
  margin-top: 5%;
  font-weight: bold;
}
.read{
  background-color: #4CAF50;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 15px !important;
  padding: 5px;
  margin-top: 0;
  margin-left: 45%;
  margin-right: 50%;
  width: 90px !important;
}

/* ============================================================
SECTION 1 ROW 1 COLUMN 3
============================================================ */
.col{
  height: 160px;
  margin-left: 8%;
  margin-right: 5%;
  position: relative;
  top: -7rem;
  z-index: 1;

}
.column {
  width: 28%;
  padding: 0 15px  ;
  text-align: justify; 
}
.card {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 6%;
  height: 220px;
  text-align: justify;
  background-color: #f1f1f1;
}

/* ============================================================
SECTION 2 ROW 1 COLUMN 3
============================================================ */
.sedcol{
  background-color:#4CAF50;
  height: 500px;
  padding: 3%;
}
.text{
  text-align: center;
}
.text h1{
  font-weight: 600 !important;
}
.second{
  width: 100%;
  margin-left: 5%;
  margin-right: 6%;


}
.secondcol {
  width: 30%;
  padding: 0 15px  ;
  text-align: justify;
  
}
.secondcard {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 6%;
  margin-top: 12%;
  text-align: justify;
  background-color: white;
} 

/* ============================================================
ARTICLE 1 ICON BOOTSTRAP
============================================================ */
article{
  background-image: url(../images/paysage.jpg);
  
}
.article{
  margin-left: 8%;
  padding: 5%;
  padding-top: 3%;
} 
.feature{
  text-align: center;
}
.feature h3{
  font-weight: 700 !important;
  font-size: 40px !important;
}
h3{
  font-family: serif;
  font-size: 20px !important;
  font-weight: 700 !important;
}
.fafa{
  color: white;
  text-align: center;
  font-size: 20px !important;
  width: 45px;
  height: 42px;
  border-radius: 3px;
  padding-right: 0.60em;
  padding-left: 0.60em;
  padding-top: 0.60em;
  padding-bottom: 0.60em;
  position: relative;
  right: 30px;
  top: 55px;
  z-index: 1;
  background-color: #4CAF50;
}
.textfa{
  margin-left: 5%;
}

/* ============================================================
ARTICLE 3 ROW 1 COLUMN 3
============================================================ */
.three{
  width: 100%;
  height: 700px;
  padding-left: 9%;
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: #ffba96;
}
.feat{
  text-align: center;
}
.feat h1{
  font-weight: 700 !important;
}
.threecol {
  width: 31%;
  padding: 0 15px  ;
  text-align: justify;
  
}
.threecard {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 12%;
  text-align: justify;
  background-color: white;
}
.plein{
  width: 100%;
  height: 200px !important;
  border-radius: 5px 5px 0px 0px;
}
.threecard p{
  padding: 6%;
}

/* ============================================================
FOOTER
============================================================ */
.foot{
  background-image: linear-gradient(transparent, rgba(20, 20, 20, 0.80)45%),url("../images/nature.jpg");
  padding: 60px 0;
  opacity: 0.9;
  color: white;
  background-image: 
    linear-gradient(),
    url("https://images.unsplash.com/photo-1503803548695-c2a7b4a5b875?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-left: 5%;
  padding-right: 5%;
}
ul {
  list-style-type : none;
}
.contact{
  margin-left: 15%;
}
.icon1{
  color: #4CAF50;
  text-align: center;
  font-size: 20px !important;
  position: relative;
  right: 15px;
  top: 0px;
  z-index: 1;
}
.icon2{
  color: white;
  text-align: center;
  font-size: 16px !important;
  width: 26px;
  height: 28px;
  clip-path:ellipse(60% 60%);
  padding: 0.20em;
  
  background-color: #4CAF50;
}
.icon{
  margin-left: 18%;
}
.email{
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 75%;
  color: #fff;
  border-radius: 0.25rem 0 0 0.25rem; 
}
.bouton{
  color: white;
  text-align: center;
  font-size: 20px !important;
  width: 45px;
  height: 48px;
  border-radius: 3px;
  padding-right: 0.60em;
  padding-left: 0.60em;
  padding-top: 0.60em;
  padding-bottom: 0.80em; 
  background-color: #4CAF50;
  position: relative;
  bottom: 2px;
  z-index: 1;
  display: inline-block;
}

/* ============================================================
BARRE HORRIZONTAL FOOTER
============================================================ */
.bartext {
  height:1px;
  width:110%;
  padding:0px;
  background-color:white;
  overflow:visible;
  position:relative;
  margin-top:40px;
}
/* ============================================================
ABOUT SECTION NOS MISSIONS
============================================================ */
.mis{
  height: 250px;
  background-image: url(../images/conte.jpg);
  opacity: 0.8;
  padding: 3%;
  padding-left: 9%;
}
.mis h5{
  font-family: serif;
  color: white;
  font-size: 17px !important;
  font-weight: 0 !important;
}
.mis h1{
  font-family: serif;
  color: white;
  font-weight: 700 !important;
  margin-top: 2%;
  margin-bottom: 2%;
}
.mis p{
  font-family: serif;
  color: white;
  font-size: 15px !important;
  font-weight: 400 !important;
}

/* ============================================================
ABOUT SECTION DESCRIPTION
============================================================ */
.descrip{
  margin-left: 8%;
  margin-right: 3%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: justify;
}
.celule1 h1{
  font-weight: 900 !important;
}
.celule1h{
  width: 600px;
  padding-left: 6%;
  padding-right: 6%;
}
.celule1b{
  width: 600px;
  padding-left:6%;
  padding-right: 6%;
}
.celule2{
  width: 480px;
  height: 300px;
  border-radius: 5px;
}
.colb{
  padding-left: 6%;
  margin-top: 6%;
}
.our{
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #4CAF50;
}

/* ============================================================
SECTION NOS SERVICES
============================================================ */
.service{
  height: 250px;
  background-image: url(../images/conte.jpg);
  opacity: 0.8;
  padding: 3%;
  padding-left: 9%;
}
.service h5{
  font-family: serif;
  color: white;
  font-size: 17px !important;
  font-weight: 0 !important;
}
.service h1{
  font-family: serif;
  color: white;
  font-weight: 700 !important;
  margin-top: 2%;
  margin-bottom: 2%;
}
.service p{
  font-family: serif;
  color: white;
  font-size: 15px !important;
  font-weight: 400 !important;
}
/* ============================================================
SECTION 2 DETAILS
============================================================ */
.detasec{
  height: auto;
}
.deta{
  padding-left: 7%;
}
.detacol {
  width: 31%;
  padding: 0 15px  ;
  text-align: justify;
  
}
.detacard {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 12%;
  text-align: justify;
  background-color: white;
}
.detaimg{
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}
.detacard p{
  padding: 6%;
}
/* ============================================================
SECTION 3 DETAILS
============================================================ */
.del{
  background-image: linear-gradient(transparent, rgba(20, 20, 20, 0.80)45%),url("../images/nature.jpg");
  padding: 50px 0;
  position: relative;
  top: 0;
  opacity: 0.9;
  z-index: -1;
  color: white;
  background-image: 
    linear-gradient(),
    url("https://images.unsplash.com/photo-1503803548695-c2a7b4a5b875?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-left: 15%;
  padding-right: 10%;
  height: 650px;
}
.text p{
  font-family: serif;
  text-align: center;
}
.del3{
  border: 1px solid white;
  border-radius: 5px;
  width: 28%;
  height: 210px !important;
  margin: 2%;
  padding: 2%;

}
.del3 h3{
  font-family: serif;
  text-align: justify;
  font-weight: 700 !important;
  margin-top: 2%;
  margin-bottom: 2%;
}
.del3 p{
  font-family: serif;
  text-align: justify;
  font-size: 15px !important;
  font-weight: 400 !important;
}
/* ============================================================
ARTICLE SIMPLE
============================================================ */
.art{
  width: 20%;
  margin: 1%;
  padding-bottom: 3%;
  text-align: justify;
}
.arti{
  font-family: serif;
  text-align: center;
  padding-top: 4%;
}
.artfin{
  padding-left: 10%;
}

/* ============================================================
SECTION 1 NOS CONTACTS
============================================================ */
.contact1{
  height: 250px;
  background-image: url(../images/conte.jpg);
  opacity: 0.8;
  padding: 3%;
  padding-left: 9%;
}
.contact1 h5{
  font-family: serif;
  color: white;
  font-size: 17px !important;
  font-weight: 0 !important;
}
.contact1 h1{
  font-family: serif;
  color: white;
  font-weight: 700 !important;
  margin-top: 2%;
  margin-bottom: 2%;
}
.contact1 p{
  font-family: serif;
  color: white;
  font-size: 15px !important;
  font-weight: 400 !important;
}
/* ============================================================
SECTION 1 EMAIL
============================================================ */
.section2{
  margin-left: 7%;
  padding-top: 5%;  
}
.input{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px 5px 5px 5px !important;
  padding: 12px 20px;
  margin: 13px;
  font-size: 16px;
  outline: none;
  width: 520px;
  height:75px !important; 
}
.ens{
  margin-left: 1%;
}
.message{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px 5px 5px 5px !important;
  padding: 12px 20px;
  margin: 13px;
  font-size: 16px;
  width: 90%;
  outline: none;
  height: 130px !important;
}
.submit{
  background-color: #4CAF50;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 15px !important;
  padding: 5px;
  margin-top: 0;
  margin-left: 83%;
  width: 100px !important;
  height:45px !important; 
}
/* ============================================================
SECTION 2 CONTACTS
============================================================ */
.luli{
  margin-left: 8%;
  margin-right: 8%;
  padding-bottom:  3%;
}
.list{
  background-color: #4CAF50;
  border-radius: 5px 5px 5px 5px;
  margin-top: 10%;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 130px;
}
.falist{
  color: #4CAF50;
  text-align: center;
  font-size: 17px !important;
  width: 45px;
  height: 42px;
  clip-path:ellipse(50% 50%);
  padding-right: 0.70em;
  padding-left: 0.70em;
  padding-top: 0.70em;
  padding-bottom: 0.70em;
  background-color: white;
}
.haut{
  margin-left: 2%;
}
.bas{
  margin-left: 23%;
}

@media (max-width: 768px) {
/* ===== HEADER ===== */
.head a {
  margin-left: 5px;
  margin-right: 12px;
}
.reseau a {
  padding: 0.20em;
  position: relative;
  left: 350px;
  bottom: 43px;
  z-index: 1;
  
}
.search{
  width: 90% !important;
}
.text h1{
  font-size: 28px;
}
.text p{
  font-size: 18px;
}
.secondcard{
  width: 95%;
  margin-top: 1%;
}
/* ===== SLIDER ===== */
#url {
  background-size: cover;
  background-position: center;
}
.legend {
  font-size: 22px;
  text-align: center;
}

.read {
  margin: 20px auto;
  display: block;
}

/* ===== COLONNES ===== */
.sedcol{
  height: auto;
}
.column,
.secondcol,
.threecol,
.detacol{
  width: 100% !important;
  margin: 15px 0;
}
.three{  
  height: auto;
}
.feat h1{
  font-size: 28px;
}
.feat p{
  font-size: 14px;
}
.threecard {
  margin-top: 0%;
  width: 90%;
}
.plein{
  width: 100%;
  height: 130px !important;
  border-radius: 5px 5px 0px 0px;
}
.threecard p{
  padding: 6%;
}

/* ===== SECTION 1 ===== */
.col {
  position: static;
  margin: 0;
  height: 700px;
}

/* ===== ABOUT ===== */
.celule1h,
.celule1b{
  width: 95%;
}
.celule2{
  width: 90%;
  padding-left: 5%;
}
.colb{
  padding-left: 0%;
}

/* ===== CONTACT ===== */
.section2 {
  margin-left: 0;
}

.input,
.message {
  width: 65% !important;
  margin-left: 18%;
}

.submit {
  width: 100%;
  margin-left: 40%;
}
/* ===== SERVICE ===== */
.detasec{
  height: auto;
}
.detacard {
  margin-top: 2%;
  width: 90%;
  border-radius: 5px;
}
.detaimg{
  width: 100%;
}
.detacard p{
  padding: 6%;
}
.del{
  height: auto;
}
.arti p,
.text p{
  font-size: 16px;
  text-align: center;
  margin-right: 5%;
}
.del3{
  width: 85%;
  height: auto !important;

}
.art{
  width: 80%;
  margin: 0%;
  padding-left: 20%;
}
.artfin{
  padding-left: 0%;
}

/* ===== FOOTER ===== */
.email {
  width: 85%;
}

.bouton {
  width: 10%;
  margin-top: 0px;
}
}

@media (min-width: 769px) and (max-width: 1024px) {
/* ===== HEADER ===== */

header{
  padding-left: 5px;
  padding-right: 5px;
}
.head a {
  margin-left: 2px;
  margin-right: 2px;
  color: white;
  font-size: 12px;
}
.reseau a {
  font-size: 12px !important;
  height: 20px;
  width:15px;
  margin-right: 5px;
  padding: 0.20em;
  position: relative;
  left: 2px;
  top: 5px;
  z-index: 1;
}
/* ===== SECTION 2 ===== */
.text h1{
  font-size: 28px;
}
.text p{
  font-size: 18px;
}
.card{
  width: 60%;
  height: auto;

  margin-top: 0px;
  margin-left: 20%;
}
.secondcard{
  width: 60%;
  margin-top: 0px;
  margin-left: 15%;
}
/* ===== SLIDER ===== */
#url {
  background-size: cover;
  background-position: center;
}
.legend {
  font-size: 22px;
  text-align: center;
}

.read {
  margin: 20px auto;
  display: block;
}

/* ===== COLONNES ===== */
.col,
.sedcol{
  height: auto;
}
.column,
.secondcol,
.threecol,
.detacol{
  width: 100% !important;
  margin: 15px 0;
}
.feature h3{
  font-size: 28px !important;
}
.feature p{
  font-size: 12px;
}
.fafa{
  position: relative;
  right: 40px;
  top: 55px;
  z-index: 1;
  background-color: #4CAF50;
}
.three{  
  height: auto;
}
.feat h1{
  font-size: 28px;
}
.feat p{
  font-size: 12px;
}
.threecard {
  margin-top: 0%;
  margin-left: 15%;
  width: 60%;
}
.plein{
  width: 100%;
  height: 130px !important;
  border-radius: 5px 5px 0px 0px;
}
.threecard p{
  padding: 6%;
}

/* ===== SECTION 1 ===== */
.col {
  position: static;
  margin: 0;
  height: 750px;
}

/* ===== ABOUT ===== */
.celule1h,
.celule1b{
  width: 95%;
}
.celule2{
  width: 90%;
  padding-left: 5%;
}
.colb{
  padding-left: 0%;
}

/* ===== CONTACT ===== */
.section2 {
  margin-left: 0;
}

.input,
.message {
  width: 65% !important;
  margin-left: 18%;
}

.submit {
  width: 100%;
  margin-left: 45%;
}
.luli{
  margin-left: 1%;
  margin-right: 1%;
}
.list{
  padding-right: 20px;
  padding-left: 20px;
  height: 130px;
}
.list a{
  font-size: 13px;
}
.falist{
  font-size: 15px !important;
  width: 40px;
  height: 37px;
}

/* ===== SERVICE ===== */
.detasec{
  height: auto;
}
.detacard {
  margin-top: 2%;
  width: 90%;
  border-radius: 5px;
}
.detaimg{
  width: 100%;
}
.detacard p{
  padding: 6%;
}
.del{
  height: auto;
}
.arti p,
.text p{
  font-size: 16px;
  text-align: center;
  margin-right: 5%;
}
.del3{
  width: 85%;
  height: auto !important;

}
.art{
  width: 80%;
  margin: 0%;
  padding-left: 20%;
}
.artfin{
  padding-left: 0%;
}

/* ===== FOOTER ===== */
.foot{
  padding: 50px 0;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 12px;
}
.email {
  width: 75%;
  height: 0px;
}
.bouton {
  width: auto;
  height: auto;
  margin-top: 0px;
  padding: 0px;
  text-align: center;
  font-size: 9px !important;
}
}
@media (min-width: 1025px)and (max-width: 1253px){
  /* ===== HEADER ===== */
.head a {
  font-size: 12px;
}
.reseau a {
  font-size: 12px !important;
  height: 22px;
  width:17px;
}
/* ======= SECTION SLIDER ======== */
.legend{
  font-size: 40px;
}
.read{
  margin-right: 45%;
}

/* ======= SECTION 1 ROW 1 COLUMN 3 ======== */
.column {
  width: 30%;
}
.card {
  height: 250px;
}
}
